# Skip system mountpoints
/oem
/product
/system_ext
/prism
/optics
/my_preload
/my_stock
/my_operator
/my_country
/my_product
/my_company
/my_engineering
/my_heytap
/my_custom
/my_manifest
/my_carrier
/my_region
/my_bigball
/my_version

# Skip sub-mountpoints of system mountpoints
/oem/*
/product/*
/system_ext/*
/system/*
/prism/*
/optics/*
/my_preload/*
/my_stock/*
/my_operator/*
/my_country/*
/my_product/*
/my_company/*
/my_engineering/*
/my_heytap/*
/my_custom/*
/my_manifest/*
/my_carrier/*
/my_region/*
/my_bigball/*
/my_version/*
